@import "../../global.scss";

.wrap-whole {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shop {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
