.product-gallery {
  background: radial-gradient(circle at 18.7% 37.8%, rgb(248, 248, 248) 0%, rgb(237, 245, 248) 90%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.disclaimer {
  font-size: 0.7em;
  margin: 20px;
  color: rgb(19, 19, 19);
}
