.corporate-footer {
    background-color: rgb(26, 26, 26);
    min-height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.colx {
    margin: 0 6%;
    padding: 20px;
    font-size: 0.7em;
    color: whitesmoke;
    line-height: 2em;
}